@media (max-width: 1300px){
    header{
        padding: 1rem 0.5rem;
    }
    .content{
        margin-top: 85%;
    }
    .robot-3d{
        scale: 0.8;
        top: -20%;
        right: 2%;
    }
}

@media (max-width: 768px) {
    header{
        padding: 1rem;
    }
    header{
        padding-left: 5rem;
    }
    header nav{
        display: none;
    }
    header h1{
        font-size: 3rem;
    }
    .content{
        margin-top: 25rem;
    }
    .robot-3d{
        scale: 0.6;
        top: -25%;
        right: -10%;
    }
    .content{
        max-width: 30rem;
        margin-left: 15%;
        margin-top: 80%;
    }
    .tag-box{
        width: 12rem;
    }
    .content .tag-box h1{
        font: 2rem;
    }
    .description{
        font-size: 1rem;
    }
    .animated-button{
        font-size: 0.8rem;
        padding: 0.8rem 2rem;
    }
    .asdf{
        margin-top: 32rem;
        margin-left: 5%;
    }
    .about-3d{
        scale: 0.6;
        top: -10%;
        right: 0;
    }
    .about-text h1{
        font-size: 3rem;
        margin-left: 1%;
    }
    .about-text .asdf h2{
        font-size: 1.8rem;
    }
    .about-text .asdf p{
        font-size: 1.5rem;
        width: 35rem;
        margin-left: -0.1%;
    }
    .black-hole-3d{
        scale: 0.6;
        left: -140%;
        top: 0;
        z-index: -1;
    }
    .containerh1{
        margin-top: 10%;
    }
    .glitch{
        font-size: 3rem;
    }
    .glass,.glass2,.glass1{
        margin-left: 13%;
    }
    .glass2{
        margin-top: -7%;
    }
    .glass1{
        margin-top: 10%;
    }
    .proj h1{
        font-size: 3rem;
    }
    .proj p{
        margin: 2rem;
    }
    .mail h1{
        font-size: 3rem;
    }
    .darca{
        scale: 0.85;
        top: 35%;
        left: 50%;
    }
    .contact-form{
        scale: 0.85;
        top: 55%;
        left: 4%;
    }
}